.container {
  padding: 60px;
}
.card {
  display: block;
  margin: 0 auto;
}
h1 {
  display: block;
  margin: 0;
}
.list-group .list-group-flush {
  position: relative;
}
#create-sample {
  margin: 0 0 50px;
}
#measurement-point,
#express-test,
#sample-card,
#index-card,
#result-card,
#user-card {
  margin: 20px 0;
}
